*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
}
nav{
    background-color: goldenrod;
    height: 60px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    
}
 nav ul li a{
    text-decoration: none;
    
}
nav ul li a:hover{
    background-color: #fff;
    color: black;
}
nav ul li {
    display: inline;
    padding: 10px 0;
}
.nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.nav a{
    margin-right: 15px;
    color: black;
    font-size: 20px;
}
#muka{
    min-height: 60vh;
    text-align: center;
    background: url(/mona-eendra-vC8wj_Kphak-unsplash.jpg)no-repeat center right ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: chocolate;
    
}
 #muka{
    line-height: 16px;
    color: black;
    font-size: 30px; 
       
}
#logo{
    color:black
}

.container{
    padding: 10px 150px;
    cursor: pointer;
}
#pricing-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.card{
    border: 1px solid #dedede;
    height: 350px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card:hover{
    background-color: goldenrod;
    color: black;
     transform: rotate(45deg); 
    
}

.title{
    text-align: center;
    font-size: 35px;
    line-height: 2.0rem;
    margin: 20px 0px;
    color: goldenrod;
    cursor: pointer;
}
#pricing .card button{
   padding: 10px 30px;
   margin: 30px 0px;
   width: 80%;
   background-color: black;
   outline: none;
   color: #fff;
   border-radius: 5px;
}
footer{
    background-color: goldenrod;
    text-align: center; 
    padding: 30px 0px;
}
article{
    background-color: goldenrod;

}

#article{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#article-form{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 20px;
}
#article-form > *{
    border-radius: 10px;
    outline: none;
    border:none;
    padding: 5px 15px;
    font-size: 16px;
}
#article-form> button{
    height: 40px;
    background-color: black;
    color: #fff;
    width: 50%;
    cursor: pointer;
    
}
#katty:hover{
    background-color: #fff;
}